# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Editor temporaries
*~

# Build output
/pb-mahjong
/pb-mahjong.app
/pb-mahjong.saved-game
/images/*.c
/images/chip_*.bmp
